CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_xiaomi_redmi-router-ac2100=y

# IPv6支持:
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_ipv6helper=y

# 貌似是开启FPU
CONFIG_KERNEL_MIPS_FPU_EMULATOR=y #MIPS模拟FPU

CONFIG_PACKAGE_luci-app-dnsfilter=y # 基于dnsmasq的去广告
CONFIG_PACKAGE_luci-app-ramfree=y # luci-app-释放内存
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-autoreboot=n
CONFIG_PACKAGE_luci-app-ddns=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-netdata=y #实时监控
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-upnp=y # upnp
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_wol=n
CONFIG_PACKAGE_vsftpd-alt=n
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-mwan=y
CONFIG_PACKAGE_luci-app-mwan3=y
CONFIG_PACKAGE_kmod-macvlan=y
# 主题
CONFIG_PACKAGE_luci-theme-argon=y
# python
CONFIG_PACKAGE_python3-base=y
CONFIG_PACKAGE_python3-light=y
CONFIG_PACKAGE_python3-pip=y
CONFIG_PACKAGE_python3-requests=y
# 内网穿透
CONFIG_PACKAGE_frpc=y
CONFIG_PACKAGE_zerotier=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_luci-i18n-frpc-zh-cn=y

# ssh&sftp
CONFIG_PACKAGE_fail2ban=y
CONFIG_PACKAGE_openssh-sftp-server=y

# dnsmasq
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y
CONFIG_PACKAGE_luci-ssl=y # uhttpd服务
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y

CONFIG_PACKAGE_luci-compat=y


#CONFIG_PACKAGE_coremark=y # CPU跑分
#CONFIG_COREMARK_OPTIMIZE_O3=y
#CONFIG_COREMARK_ENABLE_MULTITHREADING=y
#CONFIG_COREMARK_NUMBER_OF_THREADS=16

# linux软件包
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_bash=y
